#name{
    padding:10px;
}

.degree{
    padding:10px;
    text-align: center;
}

.job{
    padding:10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}






