public/
resources/
.hugo_build.lock
__pycache__/
*.pyc
.venv/
.history
.vscode/
data/publications.yaml
.DS_Store

# A separate repository (thammegowda/ml-refresh), kept here only for convenience
/ml-refresh/
