{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>

<section id="content" class="body">
  <h1 class="entry-title">Publications</h1>
  <p>My research career is just warming up. A few publications I have so far are curated by these
    services:
    <a href="https://scholar.google.com/citations?user=7Ed3-tMAAAAJ" class="bare">Google Scholar</a>,
    <a href="https://dblp.uni-trier.de/pers/hd/g/Gowda:Thamme" class="bare">DBLP</a>, and
    <a href="https://www.semanticscholar.org/author/Thamme-Gowda/145845766" class="bare">Semantic
      Scholar</a>
  <ol>
    But here is a list:
    {% for key, year, text, bibtex, pdf, slides, poster in publications|sort(attribute='1',
    reverse=True) %}
    <li id="{{ key }}">{{ text.replace('Thamme Gowda', '<b>Thamme Gowda</b>' ) }}
      [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
      {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster)] %}
      {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
      {% endfor %}
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}